In [ ]:
#Import

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
#HTTP Request

In [ ]:
##Store website in variable

In [5]:
website = 'https://www.cars.com/shopping/results/?dealer_id=&list_price_max=&list_price_min=&makes[]=&maximum_distance=50&mileage_max=&page_size=20&sort=best_match_desc&stock_type=all&year_max=&year_min=&zip='

In [ ]:
#Get Request

In [6]:
response = requests.get(website)

In [ ]:
#Status Code

In [7]:
response.status_code

200

In [5]:
#Soup Object

In [8]:
soup = BeautifulSoup(response.content, 'html.parser')

In [ ]:
soup

In [8]:
#Results

In [9]:
results = soup.find_all('div', {'class':'vehicle-card'})

In [10]:
len(results)

20

In [ ]:
results[0]

In [59]:
#Target necessary data
##Name
##Mileage
##Price
##Car Dealer Name
##Rating
##Rating Count

In [13]:
#Name

In [11]:
results[0].find('h2').get_text()

'2019 Acura ILX TECHNOLOGY&A-SPEC PACKAGES'

In [15]:
#Mileage

In [12]:
results[0].find('div', {'class':'mileage'}).get_text()

'15,793 mi.'

In [16]:
#Price

In [13]:
results[0].find('span', {'class':'primary-price'}).get_text()

'$25,980'

In [13]:
#Car Dealer

In [14]:
results[0].find('div', {'class':'dealer-name'}).get_text().strip()

'VINS DC'

In [38]:
#Rating

In [15]:
results[0].find('span', {'class':'sds-rating__count'}).get_text()

'4.8'

In [ ]:
#Rating count

In [16]:
results[0].find('span', {'class':'sds-rating__link sds-button-link'}).get_text()

'(74 reviews)'

In [17]:
#Put everything together inside a for-loop

In [17]:
name = []
mileage = []
dealer_name = []
price = []
rating = []
rating_count = []

for result in results:
    
    #name
    try:
        name.append(result.find('h2').get_text())
    except:
        name.append('NA')
    #mileage
    try:
        mileage.append(result.find('div', {'class':'mileage'}).get_text())
    except:
        mileage.append('NA')
    #price
    try:
        price.append(result.find('span', {'class':'primary-price'}).get_text())
    except:
        price.append('NA')
    #dealer_name
    try:
        dealer_name.append(result.find('div', {'class':'dealer-name'}).get_text().strip())
    except:
        dealer_name.append('NA')
    #rating
    try:
        rating.append(result.find('span', {'class':'sds-rating__count'}).get_text())
    except:
        rating.append('NA')
    #rating_count
    try:
        rating_count.append(result.find('span', {'class':'sds-rating__link sds-button-link'}).get_text())
    except:
        rating_count.append('NA')

In [27]:
#Create Pandas Dataframe

In [18]:
cars_df = pd.DataFrame ({'Car Name': name, 'Mileage': mileage, 'Price': price, 'Dealer Name': dealer_name, 'Rating': rating
                       , 'Reviews': rating_count})

In [19]:
cars_df

,Car Name,Mileage,Price,Dealer Name,Rating,Reviews
0,2019 Acura ILX TECHNOLOGY&A-SPEC PACKAGES,"15,793 mi.","$25,980",VINS DC,4.8,(74 reviews)
1,2019 Lexus IS 300 Base,"39,898 mi.","$29,999",EchoPark Automotive Knoxville Delivery Center,5.0,(3 reviews)
2,2018 Lexus LC 500 Base,"28,587 mi.","$76,995",Kingstowne Motorcars,4.8,(649 reviews)
3,2015 Jeep Grand Cherokee Limited,"87,470 mi.","$24,987",Friendly Chevrolet-Buick,4.6,(42 reviews)
4,2018 Dodge Durango GT,"26,880 mi.","$38,453",Novak Motors,4.8,(350 reviews)
5,2014 Lexus GS 350 Base,"97,748 mi.","$23,430",Freeman Toyota,4.7,"(1,259 reviews)"
6,2018 Mercedes-Benz C-Class C 300,"24,822 mi.","$24,848",Jamaica 26 Motors,3.8,(17 reviews)
7,2018 Chevrolet Suburban LT,"60,000 mi.","$32,500",BrokersAndSellers.com,4.4,(29 reviews)
8,2018 Mazda CX-9 Touring,"28,229 mi.","$30,715",Superior Mazda of Bentonville,4.6,(39 reviews)
9,2011 Lincoln MKZ Hybrid Base,"37,550 mi.","$9,995",Top Motors LLC,5.0,(1 review)
10,2019 Hyundai Tucson SE,"24,199 mi.","$22,239",EchoPark Automotive Charlotte,4.4,(228 reviews)
11,2014 Tesla Model S Base,"61,935 mi.","$34,998",BMW of Orland Park,4.6,(366 reviews)
12,2020 Land Rover Defender 110 HSE,"14,287 mi.","$78,000",Jaguar Land Rover Cherry Hill,4.5,(94 reviews)
13,2019 Ford Expedition Limited,"22,557 mi.","$59,476",North Park Chevrolet,4.6,(48 reviews)
14,2018 Lexus GX 460 Base,"19,386 mi.","$45,248",Newport Lexus,4.4,(75 reviews)
15,2016 BMW 328 i,"20,237 mi.","$24,500",Napleton Porsche of Westmont,4.7,(181 reviews)
16,2013 Mercedes-Benz S-Class S 550 4MATIC,"53,671 mi.","$23,966",Global Auto Outlet,3.2,(80 reviews)
17,2020 Kia Sorento LX,"10,796 mi.","$25,998",Toyota Knoxville,4.7,(962 reviews)
18,2017 Volkswagen Golf Alltrack TSI SEL,"29,379 mi.","$24,928",Auto Web Expo,4.6,(637 reviews)
19,2019 GMC Yukon Denali,"29,361 mi.","$64,995",York Chevrolet Buick GMC,4.4,(12 reviews)

In [47]:
#Data Cleaning

In [20]:
cars_df['Reviews'] = cars_df['Reviews'].apply(lambda x:x.strip('reviews)').strip('('))

In [21]:
cars_df

,Car Name,Mileage,Price,Dealer Name,Rating,Reviews
0,2019 Acura ILX TECHNOLOGY&A-SPEC PACKAGES,"15,793 mi.","$25,980",VINS DC,4.8,74
1,2019 Lexus IS 300 Base,"39,898 mi.","$29,999",EchoPark Automotive Knoxville Delivery Center,5.0,3
2,2018 Lexus LC 500 Base,"28,587 mi.","$76,995",Kingstowne Motorcars,4.8,649
3,2015 Jeep Grand Cherokee Limited,"87,470 mi.","$24,987",Friendly Chevrolet-Buick,4.6,42
4,2018 Dodge Durango GT,"26,880 mi.","$38,453",Novak Motors,4.8,350
5,2014 Lexus GS 350 Base,"97,748 mi.","$23,430",Freeman Toyota,4.7,"1,259"
6,2018 Mercedes-Benz C-Class C 300,"24,822 mi.","$24,848",Jamaica 26 Motors,3.8,17
7,2018 Chevrolet Suburban LT,"60,000 mi.","$32,500",BrokersAndSellers.com,4.4,29
8,2018 Mazda CX-9 Touring,"28,229 mi.","$30,715",Superior Mazda of Bentonville,4.6,39
9,2011 Lincoln MKZ Hybrid Base,"37,550 mi.","$9,995",Top Motors LLC,5.0,1
10,2019 Hyundai Tucson SE,"24,199 mi.","$22,239",EchoPark Automotive Charlotte,4.4,228
11,2014 Tesla Model S Base,"61,935 mi.","$34,998",BMW of Orland Park,4.6,366
12,2020 Land Rover Defender 110 HSE,"14,287 mi.","$78,000",Jaguar Land Rover Cherry Hill,4.5,94
13,2019 Ford Expedition Limited,"22,557 mi.","$59,476",North Park Chevrolet,4.6,48
14,2018 Lexus GX 460 Base,"19,386 mi.","$45,248",Newport Lexus,4.4,75
15,2016 BMW 328 i,"20,237 mi.","$24,500",Napleton Porsche of Westmont,4.7,181
16,2013 Mercedes-Benz S-Class S 550 4MATIC,"53,671 mi.","$23,966",Global Auto Outlet,3.2,80
17,2020 Kia Sorento LX,"10,796 mi.","$25,998",Toyota Knoxville,4.7,962
18,2017 Volkswagen Golf Alltrack TSI SEL,"29,379 mi.","$24,928",Auto Web Expo,4.6,637
19,2019 GMC Yukon Denali,"29,361 mi.","$64,995",York Chevrolet Buick GMC,4.4,12

In [30]:
#Output in excel

In [31]:
cars_df.to_excel('single_car_page.xlsx', index=False)

In [32]:
#Pagination

In [22]:
name = []
mileage = []
dealer_name = []
price = []
rating = []
rating_count = []

for i in range(1,16):
    
    #website in a variable
    website = 'https://www.cars.com/shopping/results/?page=' + str(i) + '&page_size=20&dealer_id=&list_price_max=&list_price_min=&makes[]=&maximum_distance=50&mileage_max=&sort=best_match_desc&stock_type=all&year_max=&year_min=&zip='
    
    #request to website
    response = requests.get(website)
    
    #soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    #results
    results = soup.find_all('div', {'class':'vehicle-card'})
    
    for result in results:
    
        #name
        try:
            name.append(result.find('h2').get_text())
        except:
            name.append('NA')
        #mileage
        try:
            mileage.append(result.find('div', {'class':'mileage'}).get_text())
        except:
            mileage.append('NA')
        #price
        try:
            price.append(result.find('span', {'class':'primary-price'}).get_text())
        except:
            price.append('NA')
        #dealer_name
        try:
            dealer_name.append(result.find('div', {'class':'dealer-name'}).get_text().strip())
        except:
            dealer_name.append('NA')
        #rating
        try:
            rating.append(result.find('span', {'class':'sds-rating__count'}).get_text())
        except:
            rating.append('NA')
        #rating_count
        try:
            rating_count.append(result.find('span', {'class':'sds-rating__link sds-button-link'}).get_text())
        except:
            rating_count.append('NA')

In [23]:
cars_df = pd.DataFrame ({'Car Name': name, 'Mileage': mileage, 'Price': price, 'Dealer Name': dealer_name, 'Rating': rating
                       , 'Reviews': rating_count})

In [24]:
cars_df

,Car Name,Mileage,Price,Dealer Name,Rating,Reviews
0,2019 Acura ILX TECHNOLOGY&A-SPEC PACKAGES,"15,793 mi.","$25,980",VINS DC,4.8,(74 reviews)
1,2019 Lexus IS 300 Base,"39,898 mi.","$29,999",EchoPark Automotive Knoxville Delivery Center,5.0,(3 reviews)
2,2018 Lexus LC 500 Base,"28,587 mi.","$76,995",Kingstowne Motorcars,4.8,(649 reviews)
3,2015 Jeep Grand Cherokee Limited,"87,470 mi.","$24,987",Friendly Chevrolet-Buick,4.6,(42 reviews)
4,2018 Dodge Durango GT,"26,880 mi.","$38,453",Novak Motors,4.8,(350 reviews)
...,...,...,...,...,...,...
293,2018 Toyota RAV4 LE,"40,631 mi.","$24,995",AutoNation Buick GMC West,4.8,(125 reviews)
294,2018 Land Rover Range Rover Sport HSE,"43,059 mi.","$64,995",Bosco Auto Group,3.0,(43 reviews)
295,2018 BMW 430 Gran Coupe i xDrive,"32,572 mi.","$23,186",Jamaica 26 Motors,3.8,(17 reviews)
296,2014 Toyota 4Runner Limited,"45,029 mi.","$34,992",Mark Mazda,4.5,(494 reviews)
297,2018 Audi Q7 2.0T Premium Plus,"29,652 mi.","$46,984",Audi North Houston,3.9,(51 reviews)

In [25]:
cars_df['Reviews'] = cars_df['Reviews'].apply(lambda x:x.strip('reviews)').strip('('))

In [27]:
cars_df

,Car Name,Mileage,Price,Dealer Name,Rating,Reviews
0,2019 Acura ILX TECHNOLOGY&A-SPEC PACKAGES,"15,793 mi.","$25,980",VINS DC,4.8,74
1,2019 Lexus IS 300 Base,"39,898 mi.","$29,999",EchoPark Automotive Knoxville Delivery Center,5.0,3
2,2018 Lexus LC 500 Base,"28,587 mi.","$76,995",Kingstowne Motorcars,4.8,649
3,2015 Jeep Grand Cherokee Limited,"87,470 mi.","$24,987",Friendly Chevrolet-Buick,4.6,42
4,2018 Dodge Durango GT,"26,880 mi.","$38,453",Novak Motors,4.8,350
...,...,...,...,...,...,...
293,2018 Toyota RAV4 LE,"40,631 mi.","$24,995",AutoNation Buick GMC West,4.8,125
294,2018 Land Rover Range Rover Sport HSE,"43,059 mi.","$64,995",Bosco Auto Group,3.0,43
295,2018 BMW 430 Gran Coupe i xDrive,"32,572 mi.","$23,186",Jamaica 26 Motors,3.8,17
296,2014 Toyota 4Runner Limited,"45,029 mi.","$34,992",Mark Mazda,4.5,494
297,2018 Audi Q7 2.0T Premium Plus,"29,652 mi.","$46,984",Audi North Houston,3.9,51

In [58]:
cars_df.to_excel('multiples_pages_cars.xlsx', index=False)